body {
	background-color: #ebf4f6;
}

.header h2 {
	color: #5e5656;
}

.header p {
	color: #58668b;
}

.results {
	margin-top: 20px;
}

.row {
	
}

.movies-container {
	display: flex;
	justify-content: space-between;	
}

.image {

}

.movie-title {

}

.btn {
	display: flex;
	justify-content: center;
}